<a href="https://colab.research.google.com/github/gamzenurmadan/miuul-HERDataCamp/blob/main/python_programming_for_data_science_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Görev 1.2:**  Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.

In [ ]:
text = "The goal is to turn data into information, and information into insight"
new_text = text.replace(",", "")
replaced_text = new_text.replace(".", " ")
replaced_list= replaced_text.split(" ")
print([word.upper() for word in replaced_list])

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

**Görev 1.3:**  Verilen listeye aşağıdaki adımları uygulayınız.
* *Adım 1:* Verilen listenin eleman sayısına bakınız.
* *Adım 2:* Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
* *Adım 3:* Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.
* *Adım 4:* Sekizinci indeksteki elemanı siliniz.
* *Adım 5:* Yeni bir eleman ekleyiniz.
* *Adım 6*: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [ ]:
lst = ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E']
print(len(lst))
print(lst[0], lst[10])
print(lst[0:4])
lst.remove(lst[8])
lst.append("H")
lst.insert(8, "N")
print(lst)

11
D E
['D', 'A', 'T', 'A']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'H']

**Görev 1.4**:  Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
* *Adım 1:* Key değerlerine erişiniz.
* *Adım 2:* Value'lara erişiniz.
* *Adım 3:* Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
* *Adım 4:* Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
* *Adım 5:* Antonio'yu dictionary'den siliniz.

In [ ]:
dct = {'Christian': ['America', 18], 'Daisy': ['England', 12], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25]}
print(dct.keys())
print(dct.values())
dct['Daisy'][1] = 13
dct.update({'Ahmet':['Turkey', 24]})
dct.pop('Antonio')
print(dct)

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])
dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])
{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

**Görev 1.5**: Argüman olarak bir liste alan listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.

In [ ]:
l = [2, 13, 18, 93, 22]

def even_odd_list(newlist):
  even_list=[]
  odd_list=[]
  for num in newlist:
    if num%2==0:
      even_list.append(num)
    else:
      odd_list.append(num)
  return even_list, odd_list

even_list, odd_list = even_odd_list(l)
print(even_list)
print(odd_list)

[2, 18, 22]
[13, 93]

**Görev 6:** Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [ ]:
ogrenciler = ['Ali', 'Veli', 'Ayşe', 'Talat', "Zeynep", "Ece"]

for index, ogrenci in enumerate(ogrenciler[0:3], 1):
  print("Muhendislik Fakultesi", index, ". ogrenci: ", ogrenci)

for index, ogrenci in enumerate(ogrenciler[3:], 1):
  print("Tıp Fakultesi", index, ". ogrenci: ", ogrenci)

Muhendislik Fakultesi 1 . ogrenci:  Ali
Muhendislik Fakultesi 2 . ogrenci:  Veli
Muhendislik Fakultesi 3 . ogrenci:  Ayşe
Tıp Fakultesi 1 . ogrenci:  Talat
Tıp Fakultesi 2 . ogrenci:  Zeynep
Tıp Fakultesi 3 . ogrenci:  Ece

**Görev 7:** Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [ ]:
ders_kodu = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
kredi = [3, 4, 2, 4]
kontenjan = [30, 75, 150, 25]
concat_list = list(zip(ders_kodu, kredi, kontenjan))

for element in concat_list:
  print("Kredisi", element[1], "olan", element[0], "kodlu dersin kontenjanı", element[2], "kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

**Görev 8**:Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [ ]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

if kume1.issuperset(kume2):
  print(kume1.intersection(kume2))
else:
  print(kume2.difference(kume1))

{'function', 'miuul', 'qcut', 'lambda'}

**Görev 2.1:**  List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz.Beklenen çıktı: Numeric olmayan değişkenlerin de isimleri büyümeli.Tek bir list comprehension yapısı kullanılmalı.

In [2]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [11]:
["NUM_"+ col.upper()  if df[col].dtype!= 'O' else col.upper() for col in df.columns]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

**Görev 2.2:**  List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan değişkenlerin isimlerinin sonuna "FLAG" yazınız.

In [12]:
[col.upper()+"_FLAG" if "no" not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

**Görev 2.3**:  List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

In [15]:
new_cols = [col for col in df.columns if col != "abbrev" and col != "no_previous"]

In [18]:
new_df = df[new_cols]
print(new_df.head(5))

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63